snippet header "standard Vim script file header"
" ------------------------------------------------------------------------------
" File:         ${1:`!v expand('%:t')`}
" Author:       ${2:`!v g:snips_author`}
" License:      ${3:GPLv3+}
" Description:  ${0}
" ------------------------------------------------------------------------------
endsnippet
