snippet header "standard Vim script file header"
" ------------------------------------------------------------------------------
" File:         ${1:`!v expand('%:t')`}
" Author:       ${2:`!v g:snips_author`}
" Description:  ${3}
" ${0:License:      GLPv3+}
" ------------------------------------------------------------------------------
endsnippet
